body {
  background-color: #FFF9F3;
  overflow: auto;
  height: 100%;
}
.content {
}
.sub{
  display: none;
}
#abc{
  margin-top: 1%;
}

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#innerHidden_lf {
  width: 50%;
  text-align: right;
  float: left;
  /*padding-right: 5%;*/
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
#innerHidden_rg {
  width: 50%;
  text-align: right;
  float: right;
  padding-right: 15%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
.innerHidden_title{
  margin-top: 20%;
  margin-bottom: 3%;

}
#innerHidden_lf ul li a{
  color: black;
}
#innerHidden_rg ul li a {
  color: black;
}
#innerHidden_lf li {
  margin-bottom: 0;
  font-size: 110%;
  text-decoration: none;
}
#innerHidden_rg li {
  margin-bottom: 1.95%;
  font-size: 110%;
  text-decoration: none;
}
#innerHidden_lf li:hover, #innerHidden_rg li:hover {
  font-size: 105%;
  color: #1C6FA6;
  font-weight: 500;
}
li{
  font-family: 'Noto Sans KR', sans-serif;
}
.hidden {
  left: -20%;
  bottom: 0;
}
.fade {
  background-color: rgba(0,0,0,0.75);
}
.two_btn{
  display: inline-block;
}
#top_title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#strike_btn, #ball_btn{
  width: auto;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  display: block;
  float: right;
}
#strike_btn {
  color: #D14936;
}
#ball_btn {
  color: #1C6FA6;
  padding-right: 2%;
}
#strike_btn:hover{
  text-decoration: none;
  font-size: 103%;
}
#ball_btn:hover{
  text-decoration: none;
  font-size: 103%;
}

#innerHidden {
  width: 80%;
  margin: 3% auto;
  text-align: center;
}

button {
  background-color: slategray;
  padding: 9px 15px;
  border-radius: 9%;
  border: 1px solid gray;
  margin: 50px 41%;
  /* box-shadow: 0.5px 0.5px 2px; */
}
button:hover {
  box-shadow: initial;
}





/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 미디어 쿼리ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

@media (max-width: 575px) {
  #top_title img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hiddenMenu {
    background-color: #F7F3EE;
    width: 35%;
    height: 230%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.35s ease-out;
    z-index: 100;
  }
  #innerHidden_lf li {
    margin-bottom: 0;
    font-size: 70%;
    text-decoration: none;
  }
  #innerHidden_rg li {
    margin-bottom: 1.95%;
    font-size: 70%;
    text-decoration: none;
  }
  #innerHidden_lf li:hover, #innerHidden_rg li:hover {
    font-size: 70%;
    color: #1C6FA6;
    font-weight: 500;
  }

  #spark {
    width: 50%;
    display: block;
    text-align: left;
    padding-left: 18%;
  }

  #total_title {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .btns {
    width:80%;
    padding-top: 2%;
  }
  #strike_btn, #ball_btn{
    width: 35%;
    font-size: 45%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    display: block;
    float: right;
  }
  #strike_btn:hover{
    text-decoration: none;
    font-size: 50%;
  }
  #ball_btn:hover{
    text-decoration: none;
    font-size: 50%;
  }
  .container {
    width: 100%;
  }

  #body_container {
    width: 100%;
    height: 458.25px;
  }

  svg {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }

  #profile_line {
    height: 340px;
    width: 80%;
    padding-top: 20px;
    border-top: 4px solid #1C6FA6;
    display: block;
    margin: 0 auto;
  }

  #profile_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
  }

  .referee_circle {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile_part {
    width: auto;
    height: auto;
    float: left;
    padding-top: 15px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .profile_list {
    width: 43%;
    height: auto;
    float: left;
    margin: auto 0 auto 7%;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Noto  Sans KR', sans-serif;
    color: #1C6FA6;
  }

  .profile_contents {
    width: 43%;
    height: auto;
    float: left;
    margin: auto 0 auto 7%;
    font-weight: 500;
    font-size: 14pt;
    font-family: 'Noto  Sans KR', sans-serif;
  }

  .profile_comment {
    float: left;
    width: 80%;
    font-weight: 300;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2% 0 4% 0;
    border-bottom: 3px solid #1C6FA6;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }

  #team_line_1 {
    float: left;
    width: 80%;
    height: auto;
    padding-top: 4%;
    display: block;
    margin: 0 10%;
  }

  .team_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .team_bnt li {
    float: left;
    width: 20%;
  }

  .team_bnt li img {
    width: 86%;
    display: block;
    margin: 7% auto;
  }

  .team_bnt li span {
    font-size: xx-small;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #team_line_2 {
    display: none;
  }
}




@media (min-width: 576px) {
  .hiddenMenu {
    background-color: #F7F3EE;
    width: 35%;
    height: 190%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.35s ease-out;
    z-index : 100;
  }
  #innerHidden_lf li {
    margin-bottom: 0;
    font-size: 80%;
    text-decoration: none;
  }
  #innerHidden_rg li {
    margin-bottom: 1.95%;
    font-size: 80%;
    text-decoration: none;
  }
  #innerHidden_lf li:hover, #innerHidden_rg li:hover {
    font-size: 85%;
    color: #1C6FA6;
    font-weight: 500;
  }
  #spark {
    width: 100%;
    display: block;
    text-align: left;
  }
  #total_title {
    width: 100%;
    height:auto;
    padding-bottom: 30px;
  }
  .container {
    width: 325px;
  }
  #body_container {
    width: 560px;
    height: 458.25px;
  }
  svg {
    width: 352.5px;
    padding-bottom: 30px
  }
  #profile_line {
    height: 340px;
    padding-top: 20px;
    border-top: 4px solid #1C6FA6;
  }

  #profile_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .referee_circle {
    width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profile_part {
    width: auto;
    height: auto;
    float: left;
    padding-top: 15px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .profile_list {
    width:43%;
    height:auto;
    float:left;
    margin: auto 0 auto 7%;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Noto  Sans KR', sans-serif;
    color: #1C6FA6;
  }
  .profile_contents {
    width: 43%;
    height: auto;
    float: left;
    margin: auto 0 auto 7%;
    font-weight: 500;
    font-size: 14pt;
    font-family: 'Noto  Sans KR', sans-serif;
  }
  .profile_comment {
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 0 20px 0;
    border-bottom: 3px solid #1C6FA6;
  }
  #team_line_1 {
    float: left;
    height: auto;
    padding-top: 4%;
    display: block;
  }
  .team_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .team_bnt li {
    float: left;
    width: 20%;
  }
  .team_bnt li img{
    width: 86%;
    display: block;
    margin: 7% auto;
  }
  .team_bnt li span {
    font-size: xx-small;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #team_line_2 {
    display: none;
  }

}

@media (min-width: 768px) {
  .hiddenMenu {
    background-color: #F7F3EE;
    width: 20%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.35s ease-out;
    z-index : 100;
  }
  #innerHidden_lf li {
    margin-bottom: 0;
    font-size: 90%;
    text-decoration: none;
  }
  #innerHidden_rg li {
    margin-bottom: 1.95%;
    font-size: 90%;
    text-decoration: none;
  }
  #innerHidden_lf li:hover, #innerHidden_rg li:hover {
    font-size: 95%;
    color: #1C6FA6;
    font-weight: 500;
  }
  #spark {
    width: 75%;
    display: block;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  #total_title {
    width: 40%;
    height: auto;
  }
  .container {
    width: 750px;
  }
  #body_container {
    width: 750px;
    /* height: 458.25px; */
  }
  svg {
    width: auto;
    height: 409.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 0;
  }
  #profile_line {
    height: auto;
    padding-top: 20px;
    border-top: 3px solid #1C6FA6;
  }
  #profile_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .referee_circle {
    width:40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profile_part {
    width: auto;
    height: auto;
    float: left;
    padding-top: 15px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .profile_list {
    width:43%;
    height:auto;
    float:left;
    font-weight: bold;
    font-size: 9pt;
    font-family: 'Noto  Sans KR', sans-serif;
    color: #1C6FA6;
  }
  .profile_contents {
    width: 43%;
    height: auto;
    float: left;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Noto  Sans KR', sans-serif;
  }
  .profile_comment {
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 13pt;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 0 20px 0;
    border-bottom: 3px solid #1C6FA6;
  }
  #team_line_1 {
    display: none;
  }

  #team_line_2 {
    float: left;
    height: auto;
    padding-top: 20px;
    margin-bottom: 10%;
    display: block;
  }
  .team_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .team_bnt li {
    float: left;
    width: 20%;
  }
  .team_bnt li img{
    width: 86%;
    display: block;
    margin: 7% auto;
  }
  .team_bnt li span {
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hiddenMenu {
    background-color: #F7F3EE;
    width: 20%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.35s ease-out;
    z-index : 100;
  }
  #innerHidden_lf li {
    margin-bottom: 0;
    font-size: 100%;
    text-decoration: none;
  }
  #innerHidden_rg li {
    margin-bottom: 1.95%;
    font-size: 100%;
    text-decoration: none;
  }
  #innerHidden_lf li:hover, #innerHidden_rg li:hover {
    font-size: 105%;
    color: #1C6FA6;
    font-weight: 500;
  }
  #spark {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 50px;
  }
  #total_title {
    width: 40%;
    height:auto;
  }
  .container {
    width: 970px;
  }
  #body_container {
    width: 970px;
    height: 666.25px;
  }
  svg {
    height:565.5px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 0;

  }
  #profile_line {
    height: auto;
    padding-top: 15px;
    border-top: 3px solid #1C6FA6;
  }
  #profile_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 17px;
  }
  .referee_circle {
    width:32%;
    height:auto;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile_part {
    width: 60%;
    height: auto;
    float: left;
    margin: 0;
    padding-top: 0;
    display: block;
  }

  .profile_list {
    width:46%;
    height:auto;
    float:left;
    margin: auto 0 auto 4%;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Noto  Sans KR', sans-serif;
    color: #1C6FA6;
  }
  .profile_contents {
    width: 46%;
    height: auto;
    float: left;
    margin: auto 0 auto 4%;
    font-weight: 500;
    font-size: 13pt;
    font-family: 'Noto  Sans KR', sans-serif;
  }
  .profile_comment {
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 0 20px 0;
    border-bottom: 3px solid #1C6FA6;
  }
  #team_line_1 {
    float: left;
    height: auto;
    padding-top: 4%;
    display: block;
  }
  .team_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .team_bnt li {
    float: left;
    width: 20%;
    height: auto;
  }
  .team_bnt li img{
    width: 86%;
    display: block;
    margin: 7% auto;
  }
  .team_bnt li span {
    font-size: small;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #team_line_2 {
    display: none;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hiddenMenu {
    background-color: #F7F3EE;
    width: 20%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.35s ease-out;
    z-index : 100;
  }
  #innerHidden_lf li {
    margin-bottom: 0;
    font-size: 100%;
    text-decoration: none;
  }
  #innerHidden_rg li {
    margin-bottom: 1.95%;
    font-size: 100%;
    text-decoration: none;
  }
  #innerHidden_lf li:hover, #innerHidden_rg li:hover {
    font-size: 105%;
    color: #1C6FA6;
    font-weight: 500;
  }
  #spark {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 15px;
    padding-right: 70px;
  }
  #total_title {
    width: 40%;
    height: auto;
  }
  .container {
    width: 1170px;
  }
  #body_container {
    width: 1170px;
    height: 803.75px;
  }
  svg {
    height:682.5px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 0;
  }
  #profile_line {
    height: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-top: 4px solid #1C6FA6;
  }
  #profile_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .referee_circle {
    width:33%;
    height:auto;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
  .profile_part {
    width: 60%;
    height: auto;
    float: left;
    vertical-align: middle;
    display: block;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

  }
   .profile_list {
    width:47%;
    height:auto;
    float:left;
     margin: 0;
     font-weight: bold;
    font-size: 15px;
    font-family: 'Noto  Sans KR', sans-serif;
    color: #1C6FA6;
  }
  .profile_contents {
    width: 47%;
    height: auto;
    float: left;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 17pt;
    font-family: 'Noto  Sans KR', sans-serif;
  }
  .profile_comment {
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 14pt;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 0 20px 0;
    border-bottom: 4px solid #1C6FA6;
  }
  #team_line_1 {
    float: left;
    height: auto;
    padding-top: 4%;
    display: block;
  }
  .team_title {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .team_bnt li {
    float: left;
    width: 20%;
  }
  .team_bnt li img{
    width: 90%;
    display: block;
    margin: 5% auto;
  }
  .team_bnt li span {
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #team_line_2 {
    display: none;
  }
}



#abc {
  padding-bottom: 30px;
}
#total_1st_frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#total_2nd_frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
#total_3rd_frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.team_bnt {
  cursor:pointer;
}

.samsung_logo {
  padding: 2%;
}

.hanhwa_logo {

}

.doosan_logo {
  padding: 2%;
}

.nc_logo {

}

.kiwoom_logo {
  padding: 1%;
}

.sk_logo {
  padding: 8%;
}

.kt_logo {
  padding: 2%;
}

.lg_logo{
  padding: 2%;
}

.lotte_logo {
  padding: 2%;
}

.kia_logo {
  padding: 2%;
}

li img{
  padding-right: 5%;
  padding-bottom: 3%;
}

